body {
  background-color: lightblue;
  transition: background-color 1s ease;
  height: 5300px; /* Добавьте высоту страницы для прокрутки */
}


.block {
  transition: transform 1s ease-in-out;
  background-color: lightgray;
  width: 300px;
  height: 100px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  opacity: 1000px;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}





.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 500px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 300px;
    }
  }
  
 
 
  .knopki {
    text-align: center;
  }


  
  .btn {
    border-radius: 20px;
    transition: transform 1s ease;
    margin-bottom: 10px;
    margin-right: 40px;
    background-color: rgb(210, 124, 124);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .btn:hover {
    transform: scale(1.1);
    background-color: rgb(210, 124, 124);
    color: rgb(255, 255, 255);
  }


  
  .btn1 {
    border-radius: 20px;
    transition: transform 1s ease;
    margin-right: 40px;
    background-color: rgb(210, 124, 124);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .btn1:hover {
    transform: scale(1.1);
    background-color: rgb(210, 124, 124);
    color: rgb(255, 255, 255);
  }


  
  .btn2 {
    border-radius: 20px;
    transition: transform 1s ease;
    margin-right: 40px;
    background-color: rgb(210, 124, 124);
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  .btn2:hover {
    transform: scale(1.1);
    background-color: rgb(210, 124, 124);
    color: rgb(255, 255, 255);
  }











    
  .section {
    padding: 40px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
  }
   #section1 {
    background-color: #e0e0e0;
  }
  
  img {
    transition: transform 1s ease;
  }
  img:hover{
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    img {
      width: 50%;
    }
  }
  
  .section1 {
    transition: transform 1s ease-in-out;
    padding: 40px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
  }
 
  #section2 {
    background-color: #e0e0e0;
  }
 .section1:hover{
  transform: scale(1.1);
 }
 

 .section2{
  padding: 40px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
} 

#section3 {
  background-color: #e0e0e0;
}



 .map-container {
  position: relative;
  width: 100%;
  height: 400px;
}


.map-iframe {
  position: absolute;
  top: 10pxcss;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
